* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: Helvetica, sans-serif;
}

img, svg {
    width: 100%;
    max-width: 100%;
    display: block;
}

.main-wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}








#top-header {
    display: none;
    width: 100%;
    padding: .5rem 0;
    background-color: #ad0000;
}

#top-header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#top-header .wrapper .text,
#top-header .wrapper .link {
    font-size: 1rem;
    line-height: 1;
    font-weight: 300;
    color: #ffffff;
}

#top-header .wrapper .link {
    font-weight: bold;
    text-decoration: none;
}







#header-menu {
    width: 100%;
}

#header-menu .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
}

#header-menu .wrapper .brand {
    align-self: stretch;
    width: 15%;
    padding: 1rem;
    border-right: 1px solid #666666;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header-menu .wrapper .navbar {
    width: 85%;
}

#header-menu .wrapper .navbar .list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

#header-menu .wrapper .navbar .list .item .link {
    padding: 1.5rem;
    display: inline-block;
    font-size: .8rem;
    line-height: 1;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    border-left: 1px solid #666666;
    background-color: #f2f2f2;
}

#header-menu .wrapper .navbar .list .item .link:hover {
    color: #ad0000;
    background-color: #c6c6c6;
}

#header-menu .wrapper .navbar .toggle {
    display: none;
}








main {
    width: 100%;
    height: calc(98% - 61px);
    display: flex;
}

main .wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #666666;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
}

main .wrapper .content,
main .wrapper .aside {
    align-self: stretch;
    padding: 2rem 1rem;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    position: relative;
}

main .wrapper .content {
    width: 30%;
    border-right: 1px solid #666666;
}

main .wrapper .aside {
    width: 70%;
}

main#send-page .wrapper .aside,
main#new-client-page .wrapper .aside {
    padding: 0;
}









.title .byline {
    font-size: .8rem;
    line-height: 1;
    color: #ad0000;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.title .heading {
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    color: #000000;
    margin-bottom: 1rem;
}

.title .excerpt {
    font-size: .8rem;
    line-height: 1.2;
    color: #666666;
    margin-bottom: 2rem;
}


#option-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

#option-menu .option .link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

#option-menu .option .link .icon {
    width: 20%;
    padding: 1rem;
    border: 1px solid #666666;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#option-menu .option .link .captions {
    width: 80%;
}

#option-menu .option .link .captions .heading {
    font-size: 1.5rem;
    line-height: 1;
    color: #000000;
    font-weight: bold;
    margin-bottom: .5rem;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#option-menu .option .link:hover .captions .heading {
    color: #ad0000;
}

#option-menu .option .link .captions .excerpt {
    font-size: .8rem;
    line-height: 1;
    color: #666666;
}








#info-cards {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1rem;
}

#info-cards .card {
    width: calc(25% - 1rem);
    margin: 0 .5rem;
    border: 1px solid #666666;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #e4e4e4;
    box-shadow: 0 0 5px rgba(0,0,0,0);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#info-cards .card:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

#info-cards .card:first-child {
    margin-left: 0;
}

#info-cards .card:nth-child(5n) {
    margin-left: 0;
}

#info-cards .card:nth-child(4n) {
    margin-right: 0;
}

#info-cards .card .link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 1rem;
    text-decoration: none;
}

#info-cards .card .link .icon {
    width: 20%;
    min-width: 25px;
}

#info-cards .card .link .heading {
    width: 80%;
    font-size: 1rem;
    line-height: 1;
    font-weight: bold;
    color: #000000;
}






.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.form .label {
    display: none;
    width: calc(100%);
    margin-bottom: .5rem;
}

.form .label.active {
    display: block;
}

.form .label.half-box {
    width: calc(50% - .25rem);
}

.form .label.half-box.center {
    text-align: center;
}

.form .label .input {
    width: 100%;
    padding: .5rem;
    font-family: inherit;
}







#actions-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    position: absolute;
    bottom: 0;
    left: 0;
}

#actions-buttons .btn {
    flex-basis: 100%;
    background-color: #ad0000;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8rem;
    line-height: 1;
    padding: 1rem 2rem;
    border: none;
    border-right: 1px solid #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#actions-buttons .btn:last-child {
    border-right: none;
}

#actions-buttons .btn:hover {
    background-color: #640101;
}

#actions-buttons .btn i {
    margin-right: .5rem;
}







#gmail-preview {
    width: 100%;
    height: calc(100% - 113px);
}

#gmail-preview .header {
    background-color: #ffffff;
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#gmail-preview .header .title {
    width: 80%;
}

#gmail-preview .header .title .subject {
    font-size: 1.5rem;
    font-weight: 400;
}

#gmail-preview .header .title .preheader {
    font-size: .8rem;
    font-weight: 300;
    color: #666666;
}

#gmail-preview .header .icons {
    max-width: 80px;
    display: block;
}

#gmail-preview .headers {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 3rem;
}

#gmail-preview .headers .profile {
    width: 5%;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#gmail-preview .headers .info {
    width: 80%;
}

#gmail-preview .headers .info .emisor {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
}

#gmail-preview .headers .info .emisor span {
    font-size: .8rem;
    font-weight: 400;
    color: #666666;
}

#gmail-preview .headers .info .receptor {
    font-size: .8rem;
    color: #666666;
}

#gmail-preview .headers .icons {
    width: 400px;
    justify-self: flex-end;
}

#gmail-preview .headers .btn {
    width: 1.5rem;
    line-height: 1.5rem;
    background-color: transparent;
    color: #666666;
    border: none;
    cursor: pointer;
}

#gmail-preview .headers .btn.active {
    color: #ad0000;
    cursor: auto;
}

#gmail-preview #email-preview {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    padding-bottom: 2rem;
}

#gmail-preview #email-preview .container {
    height: 100%;
    max-width: 650px;
    min-width: 380px;
    border: 1px solid #000000;
}







#blank-page {
    width: 100%;
    height: 100%;
    background-color: #666666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blank-page .icon svg {
    stroke: #f2f2f2;
    width: 50px;
    height: 50px;
}

#blank-page .text {
    color: #f2f2f2;
    font-size: 1.5rem;
}